@rendermode InteractiveWebAssembly
@implements IDisposable
@using GymLogger.Api.Client.HttpServices.Auth
@implements IDialogContentComponent
@inject NavigationManager NavigationManager
@inject IAuthHttpService AuthHttpService

<FluentDialogBody>
    <FluentNavMenu Expanded="@true">
        <FluentNavLink Icon="@(new Icons.Regular.Size20.Person())" Href="Account/Manage" Match="NavLinkMatch.All">Manage your profile</FluentNavLink>
        <form action="Account/Logout" method="post">
            <AntiforgeryToken />
            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
            <FluentButton Type="ButtonType.Submit" Style="width: 100%;">Logout</FluentButton>
        </form>
    </FluentNavMenu>
</FluentDialogBody>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }
    
    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
    
    private async Task SignOutAsync()
    {
        await AuthHttpService.SignOutAsync(currentUrl);
    }
}