@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@if (HttpContext is null)
{
    <p>Loading...</p>
}
else
{    
    <FluentGrid Justify="JustifyContent.Center" Style="margin-top:10rem;">
        <FluentGridItem xs="12" sm="10" md="4" lg="4">
            <FluentCard>
                @Body
            </FluentCard>
        </FluentGridItem>
    </FluentGrid>    
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            // If this code runs, we're currently rendering in interactive mode, so there is no HttpContext.
            // The identity pages need to set cookies, so they require an HttpContext. To achieve this we
            // must transition back from interactive mode to a server-rendered page.
            NavigationManager.Refresh(forceReload: true);
        }
    }
}